.welcomeWrapper {
  width: 800px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.backGround2 {
  display: none;
}

@media (max-width: 390px) {
  .welcomeWrapper {
    width: 390px;
  }

  .backGround1 {
    display: none;
  }

  .backGround2 {
    display: block;
  }
}
