.btn {
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: black;
  font-size: 23px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  margin: 50px 70px;
  gap: 550px;
  font-size: 16px;
}

.pages {
  display: flex;
  gap: 50px;
  font-size: 20px;
  position: relative;
}

@media (max-width: 390px) {
  .headerWrapper {
    width: 390px;
    padding: 35px 15px;
    margin: 0;
    gap: 30px;
    font-weight: normal;
  }

  .pages > :nth-child(2) {
    display: none;
  }

  .btn {
    background-color: transparent;
    color: rgba(121, 121, 121, 1);
  }
}
